<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleLogin.css">
    <script src="js/jquery.js"></script>
    <script>

    </script>
    <title>CaroGameWithChat</title>

    <!-- <script>
        $("#login-button").click(function (event) {
            event.preventDefault();

            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
        });
    </script> -->
</head>

<body>


    <div class="wrapper">
        <div class="container">
            <h1>Caro Game With Chat</h1>

            <form class="formLogin" action="/playGame" method="post">
                <div>
                    <input type="text" placeholder="Username" name="username" required>
                </div>
                <!-- <input type="password" placeholder="Password"> -->
                <div>
                    <select id="room" name="room">
                        <option value="North">Room North</option>
                        <!-- <option value="South">Room South</option>
                        <option value="East">Room East</option>
                        <option value="West">Room West</option> -->
                    </select>
                </div>
                <div>
                    <button type="submit" id="login-button">Join Game</button>
                </div>
            </form>
        </div>

    </div>

</body>

</html>