<html lang="en" ng-app='swankyChat' ng-cloak='true'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_blog_layout"> -->
    <link rel="stylesheet" href="/css/styleChatBox.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/jquery.js"></script>
    <!-- <script src="js/client.js"></script> -->
    <title>PlayGame</title>
</head>

<body>

    <div class="header">
        <h3>Caro Game</h3>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Caro Game</h2>

                <script>
                    const div = d3.select("body").append("div").attr("id", "content").style("text-align", "center");
                    // create <svg>
                    const svg = div.append("svg").attr("width", 500).attr("height", 600);
                    //-------------------------------------------------------
                    let boxsize = 50 // kich thuoc cua moi o vuong
                    let n = 10 // so luong o vuong tren 1 hang
                    for (let i = 0; i < n; i++) {
                        for (let j = 0; j < n; j++) {
                            // draw each chess field
                            const box = svg.append("rect")
                                .attr("x", i * boxsize)
                                .attr("y", j * boxsize)
                                .attr("width", boxsize)
                                .attr("height", boxsize)
                                .attr("id", "b" + i + j)
                                .style("stroke", "black")
                                .on("click", function () {
                                    let selected = d3.select(this);
                                    socket.emit("su-kien-click", { x: selected.attr('x'), y: selected.attr('y') })

                                });
                            if ((i + j) % 2 === 0) {
                                box.attr("fill", "beige");
                            } else {
                                box.attr("fill", "beige");
                            }
                        }
                    }
                </script>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>Chat box</h2>
                <div class="chat-container">
                    <header class="chat-header">
                        <h3 id="room-name"></h3>
                        <!-- <a id="leave-btn" class="btn">Leave Room</a> -->
                        <button type="submit" id="leave-btn" class="btn">Leave Room</button>
                    </header>
                    <main class="chat-main">
                        <!-- <div class="chat-sidebar">
                            <h3>Room Name:</h3>
                            <h2 id="room-name"></h2>
                            <h3>Users</h3>
                            <ul id="users"></ul>
                        </div> -->
                        <div class="chat-messages"></div>
                    </main>
                    <div class="chat-form-container">
                        <form id="chat-form">
                            <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
                            <button class="btn" type="submit" id="send">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/client.js"></script>
</body>

</html>